.header{
    text-align: center;
}

.products-container{
    display:flex;
    justify-content: flex-start;
}
.products-subcontainer{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.products-subcontainer .item{   
    width:25%;
    min-width:250px;
    border:1px solid black;
    border-radius: 20px;
    padding:10px;
    margin: 10px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-between;
    
}
.products-subcontainer .item h4{
    text-transform: uppercase;
}
.products-subcontainer img{
    width:100%;
    height:40%;
    background-color: #c5bcd67b;
    border-radius: 20px;
}
.products-subcontainer i{
    margin:10px 10px;
    cursor: pointer;
    background-color: #c5bcd67b;
    border-radius: 100%;
    padding:10px;
}

@media (max-width:589px){
    .products-subcontainer .item{
        width:100%;
    }
}